/*
html{ 
		font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"!important;
		font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace!important;
		font-family: 'Raleway', sans-serif!important; 
		font-family: 'Roboto', sans-serif!important;
}
*/

body, h1, h2, h3, h4, h5, h6, textarea {
/*
    font-family: cgothic;
*/
/*
    font-family: 'Roboto', sans-serif!important;
*/  
	font-family: 'Raleway', sans-serif!important; 
	font-weight: normal!important;
}

.lg-product-item{ width: 100%;}

.explore .box {width:100%; float: left; margin-right: 20px; margin-bottom: 20px;}
.brand .link {color: #000000; font-size: 11px; letter-spacing: .2px; line-height: 20px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.explore .brand .link {font-size: 15px; letter-spacing: .2px; line-height: 20px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.link:hover, .brand .link:hover {color: #85000b;}
.product-image {width: 100%; display: flex; }
.other-section {width: 100%; }

/*
Extra small devices (portrait phones, less than 576px)
*/
@media (max-width: 575.98px) {
	.header {height: 75px; overflow: hidden;}
	.mobile-menu {height: 70px;}
	.content {height: calc(100vh - 145px); margin: 0px  0px 0px 0px ;}
	
	 /* Today */
	.today-img {position: relative; width: 100%; height: calc(100vh - 200px); background-position: top center; background-size:cover; }
	.today-img .desc {position: absolute; bottom: 0px; padding:10px 10px 30px 10px; text-align:left;}
	
	.explore .brand {height: 30px; padding: 5px 0px; letter-spacing: .2px; line-height: 16px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
	.product-item{width:46%; float: left; height: 180px; margin-right: 10px; margin-bottom: 20px;}
	.product-item .link .img{width: 100%; height: 160px; overflow: hidden;}
	.welcome-greeting {font-size: 18px;}
	.lg-product-item .link .img{ height: 300px; overflow: hidden }
	.ads img {width: 300px;}
	.product-image img {width: 100%;}
	.my-navbar-collapse {display: none!important;}
	
	.search_lady img {width: 100%;}
	
	.other-section .box {width: 32%; float: left;  height: 120px; display: flex;}
	.other-section .box span {width: 100%; float: left; font-size: 11px; }
	
	.tour {width: 100%; height: 80vh; overflow: hidden; }
	.tour-img {width: 100%; height: 78vh; background-position: bottom center; background-size:cover;  }
	
	.discover-item {height: 110px; background-size: cover; font-size: 10px;}
	.discover-title{ font-size: 15px; font-weight: 700; color: #000000; }
	.discover-title .btn { font-size: 13px!important; }
}

/*
// Small devices (landscape phones, less than 768px)
*/

/*
// Small devices (landscape phones, less than 768px)
*/
@media (min-width: 576px) and (max-width: 767.98px)  {
	.header {height: 75px; overflow: hidden;}
	.mobile-menu {height: 70px;}
	.content {height: calc(100vh - 145px); margin: 0px  0px 0px 0px ;}
	
	 /* Today */
	.today-img {position: relative; width: 100%; height: calc(100vh - 200px); background-position: top center; background-size:cover; }
	.today-img .desc {position: absolute; bottom: 0px; padding:10px 10px 20px 10px; text-align:left;}
		
	.explore .brand {height: 30px; padding: 5px 0px; letter-spacing: .2px; line-height: 16px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
	.product-item{width:215px; float: left; height: 214px; margin-right: 18px; margin-bottom: 20px;}
	.product-item .link .img{width: 100%; height: 190px; overflow: hidden;}
	.welcome-greeting {font-size: 18px;}
	.lg-product-item .link .img{ height: 300px; overflow: hidden }
	.ads img {width: 520px;}
	.product-image img {width: 100%;}
	.my-navbar-collapse {display: none!important;}
	
	.search_lady img {width: 380px;}
	
	.other-section .box {width: 30%; float: left;  height: 100px; display: flex;}
	.other-section .box a>i {width: 2em; height: 2em;}
	.other-section .box span {width: 100%; float: left;  }
	
	.tour {width: 100%; height: 80vh; overflow: hidden; }
	.tour-img {width: 100%; height: 78vh; background-position: bottom center; background-size:cover;  }
	
	.profile .img {width: 150px; height: 150px; float: left; overflow: hidden;}
	
	.discover-item {height: 200px; background-size: cover;}
	.discover-title{ font-size: 15px; color: #D8AF58; }
}

/*
// Medium devices (tablets, less than 992px)
*/
@media (min-width: 768px) and (max-width: 991.98px) {
	.header {height: 75px; overflow: hidden;}
	.mobile-menu {height: 70px;}
	.content {height: calc(100vh - 145px); margin: 0px  0px 0px 0px ;}
	
	/* Today */
	.today-img {position: relative; width: 100%; height: calc(100vh - 200px); background-position: top center; background-size:cover; }
	.today-img .desc {position: absolute; bottom: 0px; padding:10px 10px 20px 10px; text-align:left;}
	
	.explore .brand {height: 30px; padding: 5px 0px; letter-spacing: .2px; line-height: 16px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
	.product-item{width:170px; float: left; height: 214px; margin-right: 7px; margin-bottom: 20px;}
	.product-item .link .img{width: 100%; height: 190px; overflow: hidden;}
	.welcome-greeting {font-size: 22px;}
	.lg-product-item .link .img{ height: 500px; overflow: hidden }
	.ads img {width: 680px;}
	.product-image img {width: 600px;}
	.my-navbar-collapse {display: none!important;}
	
	.search_lady img {width: 500px;}
	
	.other-section .box {width: 30%; float: left;  height: 100px; display: flex;}
	.other-section .box svg {width: 1em!important; height: 1em!important;}
	.other-section .box span {width: 100%; float: left;  }
	
	.tour {width: 100%; height: 80vh; overflow: hidden; margin: 0px auto; }
	.tour-img {width: 100%; height: 85vh; background-position: bottom center; background-size:cover;  }
	
	.profile .img {width: 150px; height: 150px; float: left; overflow: hidden;}
	
	.discover-item {height: 140px; background-size: cover; font-size: 12px;}
	.discover-title{ font-size: 16px; font-weight: 700; color: #000000; }
	.discover-title .btn { font-size: 14px!important; }
}

/*
// Large devices (desktops, less than 1200px)
*/
@media (min-width: 992px) and (max-width: 1199.98px) {
	.explore .brand {height: 30px; padding: 5px 0px; letter-spacing: .2px; line-height: 16px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
	.product-item{width:170px; float: left; height: 214px; margin-right: 19px; margin-bottom: 20px;}
	.product-item .link .img{width: 100%; height: 190px; overflow: hidden;}
	.welcome-greeting {font-size: 22px;}
	.lg-product-item .link .img{ height: 300px; overflow: hidden }
	.ads img {width: 920px;}
	.product-image img {width: 600px;}
	.my-navbar-collapse{width: 100%;}
	
	.search_lady {margin-top: 5%;}
	.search_lady img {width: 600px;}
	
	.other-section .box {width: 30%; float: left;  height: 100px; display: flex;}
	.other-section .box svg {width: 2em; height: 2em;}
	.other-section .box span {width: 100%; float: left;  }
	
	.tour {width: 30%; height: 95vh; overflow: hidden; margin: 0px auto; }
	.tour-img {position: relative; width: 100%; height: 80vh; background-position: top center; background-size:cover;  }
	
	.profile .img {width: 150px; height: 150px; float: left; overflow: hidden;}
	
	.discover-item {height: 180px; background-size: cover; font-size: 12px;}
	.discover-title{ font-size: 18px; font-weight: 700; color: #000000; }
	.discover-title .btn { font-size: 13px!important; }
}

/*
// Extra large devices (large desktops, 1200px and up)
*/

@media (min-width: 1200px) and (max-width: 1399.98px) {
	.explore .brand { height: 30px; padding: 5px 0px; letter-spacing: .2px; line-height: 16px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
	.product-item{width:180px; float: left; height: 214px; margin-right: 19px; margin-bottom: 20px;}
	.product-item .link .img{width: 100%; height: 190px; overflow: hidden;}
	.welcome-greeting {font-size: 22px;}
	.lg-product-item .link .img{ height: 500px; overflow: hidden }
	.ads img {width: 1100px;}
	.product-image img {width: 600px;}
	.my-navbar-collapse{width: 100%;}
	
	.search_lady {margin-top: 5%;}
	.search_lady img {width: 600px;}
	
	.other-section .box {width: 16%; float: left;  height: 100px; display: flex;}
	.other-section .box svg {width: 2em; height: 2em;}
	.other-section .box span {width: 100%; float: left;  }
	
	.tour {width: 30%; height: 95vh; overflow: hidden; margin: 0px auto; }
	.tour-img {position: relative; width: 100%; height: 80vh; background-position: top center; background-size:cover;  }
	
	.profile .img {width: 150px; height: 150px; float: left; overflow: hidden;}
	
	.discover-item {height: 200px; background-size: cover; font-size: 12px;}
	.discover-title{ font-size: 19px; font-weight: 700; color: #000000; }
	.discover-title .btn { font-size: 13px!important; }
}

@media (min-width: 1400px) {
	.explore .brand { height: 30px; padding: 5px 0px; letter-spacing: .2px; line-height: 16px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
	.product-item{width:190px; float: left; height: 245px;}
	.product-item .link .img{width: 100%; height: 190px; overflow: hidden;}
	.welcome-greeting {font-size: 22px;}
	.lg-product-item .link .img{ height: 500px; overflow: hidden }
	.ads img {width: 1200px;}
	.product-image img {width: 600px;}
	.my-navbar-collapse{width: 100%;}
	
	.search_lady {margin-top: 5%;}
	.search_lady img {width: 600px;}
	
	.other-section .box {width: 16%; float: left;  height: 100px; display: flex;}
	.other-section .box svg {width: 2em; height: 2em;}
	.other-section .box span {width: 100%; float: left;  }
	
	.tour {width: 30%; height: 95vh; overflow: hidden; margin: 0px auto; }
	.tour-img {position: relative; width: 100%; height: 80vh; background-position: top center; background-size:cover;  }
	
	.profile .img {width: 150px; height: 150px; float: left; overflow: hidden;}
	
	.discover-item {height: 200px; background-size: cover;}
	.discover-title{ font-size: 20px; color: #D8AF58; font-weight: 700; }
	.discover-title .btn { font-size: 18px!important; }
}

.pagination .page-item .page-link {
    color: #850713!important;
    border-color: #850713!important;
}
.pagination .page-item.active .page-link {
	color: #D8AF58!important;
    background-color: #850713!important;
    border-color: #850713!important;
}

.stat {
	height: 200px;
}

.stat .box{
	width: 100%; 
	height: 150px; 
	border-bottom: 2px solid #008000;
}

.stat .box h3{
	font-size: 3rem;
}

.brand {color: #000000; height: 16px; letter-spacing: .2px; line-height: 16px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.brand .link {color: #000000; font-size: 11px; letter-spacing: .2px; line-height: 20px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.link {color: #000000; font-size: 14px; letter-spacing: .2px; line-height: 20px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.link:hover, .brand .link:hover {color: #85000b;}

/*
Shop
*/

.shop-product-by{font-size: 14px;}
.shop-other-products{font-size: 14px;}

.bg-effect{

  --s: 25vmin;
  --p: calc(var(--s) / 2);
  --c1: #c69b66;
  --c2: #97000e;
  --c3: #510000;;
  --bg: var(--c3);
  --d: 45000ms;
  --e: cubic-bezier(0.76, 0, 0.24, 1);
  
  background-color: var(--bg);
  background-image:
    linear-gradient(45deg, var(--c1) 25%, transparent 25%),
    linear-gradient(-45deg, var(--c1) 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, var(--c2) 75%),
    linear-gradient(-45deg, transparent 75%, var(--c2) 75%);
  background-size: var(--s) var(--s);
  background-position: 
    calc(var(--p) *  1) calc(var(--p) *  0), 
    calc(var(--p) * -1) calc(var(--p) *  1), 
    calc(var(--p) *  1) calc(var(--p) * -1), 
    calc(var(--p) * -1) calc(var(--p) *  0);
  animation: 
    color var(--d) var(--e) infinite,
    position var(--d) var(--e) infinite;
}

@keyframes color {
  0%, 25% {
    --bg: var(--c3);
  }
  26%, 50% {
    --bg: var(--c1);
  }
  51%, 75% {
    --bg: var(--c3);
  }
  76%, 100% {
    --bg: var(--c2);
  }
}

@keyframes position {
  0% {
    background-position: 
      calc(var(--p) *  1) calc(var(--p) *  0), 
      calc(var(--p) * -1) calc(var(--p) *  1), 
      calc(var(--p) *  1) calc(var(--p) * -1), 
      calc(var(--p) * -1) calc(var(--p) *  0);
  }
  25% {
    background-position: 
      calc(var(--p) *  1) calc(var(--p) *  4), 
      calc(var(--p) * -1) calc(var(--p) *  5), 
      calc(var(--p) *  1) calc(var(--p) *  3), 
      calc(var(--p) * -1) calc(var(--p) *  4);
  }
  50% {
    background-position: 
      calc(var(--p) *  3) calc(var(--p) * 8), 
      calc(var(--p) * -3) calc(var(--p) * 9), 
      calc(var(--p) *  2) calc(var(--p) * 7), 
      calc(var(--p) * -2) calc(var(--p) * 8);
  }
  75% {
    background-position: 
      calc(var(--p) *  3) calc(var(--p) * 12), 
      calc(var(--p) * -3) calc(var(--p) * 13), 
      calc(var(--p) *  2) calc(var(--p) * 11), 
      calc(var(--p) * -2) calc(var(--p) * 12);
  }
  100% {    
    background-position: 
      calc(var(--p) *  5) calc(var(--p) * 16), 
      calc(var(--p) * -5) calc(var(--p) * 17), 
      calc(var(--p) *  5) calc(var(--p) * 15), 
      calc(var(--p) * -5) calc(var(--p) * 16);
  }
}

@media (prefers-reduced-motion) {
  .bg-effect {
    animation: none;
  }
}

/* Fonts */

.explore-title {font-size: 1.65rem;}
