/* iPhone 5 / 5c / 5s / SE */
@media (width: 319px) and (height: 568px) {
	/* Today */
	.today-img {position: relative; width: 100%; height: calc(100vh - 128px); background-position: top center; background-size:cover; }
	.today-img .desc { position: absolute; bottom: 0px;  padding: 9px 10px;}
	
}

/* iPhone 6 / 6s / 7 / 8 / SE (2020) / */
@media (width: 374px) and (height: 667px) {
	/* Today */
/*
	.today-img {position: relative; width: 100%; height: calc(667px - 128px); background-position: top center; background-size:cover; }
*/
	.today-img {position: relative; width: 100%; height: calc(100vh - 128px); background-position: top center; background-size:cover; }
	.today-img .desc {position: absolute; bottom: 0px; margin-bottom: 0px; padding: 9px 10px;}
	
}

/* iPhone X / XS / 11 Pro */
@media (width: 375px) and (height: 812px) {
	/* Today */
	.today-img {position: relative; width: 100%; height: calc(100vh - 128px); background-position: top center; background-size:cover; }
	.today-img .desc {position: absolute; bottom: 0; padding: 9px 10px;}
	
}

/* iPhone XR / XS Max / 11 / 11 Pro Max /  */
@media (width: 414px) and (height: 896px) {
	/* Today */
	.today-img {position: relative; width: 100%; height: calc(100vh - 128px); background-position: top center; background-size:cover; }
	.today-img .desc {position: absolute; bottom: 0; padding: 9px 10px;}
	
}

/* iPhone 6s / 7 / 8 - Plus */
@media (width: 414px) and (height: 736px) {
	/* Today */
	.today-img {position: relative; width: 100%; height: calc(100vh - 128px); background-position: top center; background-size:cover; }
	.today-img .desc {position: absolute; bottom: 0; padding: 9px 10px;}
	
}

/* iPhone 12 / 12 Pro */
@media (width: 390px) and (height: 844px) {
	/* Today */
	.today-img {position: relative; width: 100%; height: calc(100vh - 128px); background-position: top center; background-size:cover; }
	.today-img .desc {position: absolute; bottom: 0; padding: 9px 10px;}
	
}

/* iPhone 12 mini */
@media (width: 360px) and (height: 780px) {
	/* Today */
	.today-img {position: relative; width: 100%; height: calc(100vh - 128px); background-position: top center; background-size:cover; }
	.today-img .desc {position: absolute; bottom: 0px; padding: 9px 10px;}
	
}

/* iPhone 12 Pro Max */
@media (width: 428px) and (height: 926px) {
	/* Today */
	.today-img {position: relative; width: 100%; height: calc(100vh - 128px); background-position: top center; background-size:cover; }
	.today-img .desc {position: absolute; bottom: 0px; padding: 9px 10px;}
	
}


/* Arifone Champion */
@media (width: 359px) and (height: 640px) {
	/* Today */
	.today-img {position: relative; width: 100%; height: 590px; background-position: top center; background-size:cover; }
	.today-img .desc {position: absolute; bottom: 0px; padding: 9px 10px;}
	
}
